.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  header {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    max-height: 10vh;
  }
  article {
    width: 100%;
    height: 80vh;
    max-height: 80vh;
  }
  footer {
    z-index: 100;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    max-height: 10vh;
  }
}
