:root {
  --black: #3a3a3a;
  --blue: #496a86;
  --blueLight: #D7ECF3;
  --accent: #e55f4c;
  --accentDark: #d55847;
  --greyLight: #eee;
  --white: #fff;
}

body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
  color: var(--black);
  background-color: var(--white);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--accent);
  font-weight: 900;
}
a:hover {
  color: var(--accentDark);
}

header {
  background-color: var(--blue);
}

article {
}

footer {
  background-color: var(--blueLight);
}

/* Universal container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}