body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #e55f4c;
  font-weight: 900;
}
a:hover {
  color: #d55847;
}

header {
  background-color: #496a86;
}

article {
  background-color: #fff;
}

footer {
  background-color: #D7ECF3;
}

/* Universal container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}